# Uncomment the below lines and set the env vars properly. Otherwise, default values are given in
# the Makefiles later

# CHATG_POSTGRES_USER=
# CHATG_POSTGRES_PASSWORD=
# CHATG_POSTGRES_DB=
# CHATG_POSTGRES_DB_PORT=
# CHATG_POSTGRES_DATA=

# CHATG_PGADMIN_EMAIL=
# CHATG_PGADMIN_PASSWORD=
# CHATG_PGADMIN_PORT=
# CHATG_PGADMIN_DATA_CONTAINER_PATH=

# CHATG_DATASOURCE_URL=